/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

/* Header styles start */
.header {
  /* background-color: #000; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 62px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
  text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: .75;
}
/* Header styles end */

/* Intro styles start */
.intro {
  min-height: 100vh;
  background: url(../img/intro-bg.jpeg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
}
.intro__title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  margin-bottom: 22px;
}
.intro__subtitle {
  color: #FFF;
  max-width: 546px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 60px;
}

.search-form__info {
  display: flex;
}

.search-form__field {
  width: 297px;
  padding-left: 43px;
  padding-bottom: 23px;
  background: transparent url(../img/svg/circle-item.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
}

.search-form__field::placeholder {
  color: #FFF;
  opacity: 1;
}

.search-form__submit {
  padding: 15px 40px;
  color: #FFF;
  background-color: #1B7DFF;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  border: 0;
}
.search-form__submit:hover, .search-form__submit:active, .search-form__submit:focus, .search-form__submit:active {
  background: #0e66da;
}
/* Intro styles end */

/* Benefits styles starts */
.benefits {
  margin-bottom: 131px;
}
.benefits__wrap {
  max-width: 1262px;
  background-color: #FFFFFF;
  margin: 0 auto;
  box-shadow: 0 2px 20px rgba(21,24,36, .15993);
  position: relative;
}

.benefits__title {
  width: 100% ;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-99%);
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  padding: 93px 100px 88px 100px;
  background-color: #FFF;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  grid-column: span 1;
}

.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits__card-thumb {
  display: block;
}

.benefits__card-title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.benefits__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  margin-bottom: 112px;
  background: url(../img/svg/arrow-more.svg) no-repeat 95% center;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #006DFE;
  transition: .2s all;
}

.benefits__card-more:hover, .benefits__card-more:focus {
  background: url(../img/svg/arrow-more.svg) no-repeat right center;
}
/* Benefits styles end */

